# Ejercicio 1:

In [7]:
import pandas as pd
import numpy as np

data = pd.read_csv('DelayedFlights.csv')

# Lista de todas las columnas

for col in data:
    print(col)
    
# Columnas a extraer: Year, Month, DayofMonth, UniqueCarrier, ActualElapsedTime, Origin, Destiny

reduced_data = data[['Year', 'Month', 'DayofMonth', 'FlightNum', 'UniqueCarrier', 'Origin', 'Dest', 'Cancelled', 'ArrDelay', 'DepDelay', 'ArrTime', 'CRSArrTime', 'AirTime', 'Distance']]

reduced_data[0:5]

Unnamed: 0
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay

,Year,Month,DayofMonth,FlightNum,UniqueCarrier,Origin,Dest,Cancelled,ArrDelay,DepDelay,ArrTime,CRSArrTime,AirTime,Distance
0,2008,1,3,335,WN,IAD,TPA,0,-14.0,8.0,2211.0,2225,116.0,810
1,2008,1,3,3231,WN,IAD,TPA,0,2.0,19.0,1002.0,1000,113.0,810
2,2008,1,3,448,WN,IND,BWI,0,14.0,8.0,804.0,750,76.0,515
3,2008,1,3,3920,WN,IND,BWI,0,34.0,34.0,1959.0,1925,77.0,515
4,2008,1,3,378,WN,IND,JAX,0,11.0,25.0,2121.0,2110,87.0,688

# Ejercicio 2

### Resumen estadístico de variables

In [2]:
reduced_data.describe()

,Year,Month,DayofMonth,FlightNum,Cancelled,ArrDelay,DepDelay,ArrTime,CRSArrTime,AirTime,Distance
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.936758e+06
mean,2008.0,6.111106e+00,1.575347e+01,2.184263e+03,3.268348e-04,4.219988e+01,4.318518e+01,1.610141e+03,1.634225e+03,1.082771e+02,7.656862e+02
std,0.0,3.482546e+00,8.776272e+00,1.944702e+03,1.807562e-02,5.678472e+01,5.340250e+01,5.481781e+02,4.646347e+02,6.864261e+01,5.744797e+02
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.090000e+02,6.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01
25%,2008.0,3.000000e+00,8.000000e+00,6.100000e+02,0.000000e+00,9.000000e+00,1.200000e+01,1.316000e+03,1.325000e+03,5.800000e+01,3.380000e+02
50%,2008.0,6.000000e+00,1.600000e+01,1.543000e+03,0.000000e+00,2.400000e+01,2.400000e+01,1.715000e+03,1.705000e+03,9.000000e+01,6.060000e+02
75%,2008.0,9.000000e+00,2.300000e+01,3.422000e+03,0.000000e+00,5.600000e+01,5.300000e+01,2.030000e+03,2.014000e+03,1.370000e+02,9.980000e+02
max,2008.0,1.200000e+01,3.100000e+01,9.742000e+03,1.000000e+00,2.461000e+03,2.467000e+03,2.400000e+03,2.400000e+03,1.091000e+03,4.962000e+03

### Datos faltantes por columna

In [3]:
# Datos faltantes por columna:

reduced_data.isnull().sum()

Year                0
Month               0
DayofMonth          0
FlightNum           0
UniqueCarrier       0
Origin              0
Dest                0
Cancelled           0
ArrDelay         8387
DepDelay            0
ArrTime          7110
CRSArrTime          0
AirTime          8387
Distance            0
dtype: int64

### Incorporación de nuevas columnas

In [9]:
# Avg Speed --> Distance/AirTime*60 km/hr

reduced_data['AvgSpeed'] = reduced_data['Distance']/reduced_data['AirTime']*60

# Double delay --> Delay on departure & delay on arrival.

reduced_data['DoubleDelay'] = np.where((reduced_data['ArrDelay']>0) & (reduced_data['DepDelay']>0), "Yes", "No")

# Delay al llegar?

reduced_data['Delayed'] = np.where(reduced_data['ArrTime']>reduced_data['CRSArrTime'], "Yes", "No")

# Full Carrier name:

carriers = pd.read_csv('carriers.csv')

reduced_data['FullCarrier'] = reduced_data['UniqueCarrier'].map(carriers.set_index('Code')['Description'])

# Nueva columna 'Date' en base a columnas Year, Month y DayofMonth:

reduced_data.rename(columns={'DayofMonth':'Day'}, inplace=True)

reduced_data['Date'] = pd.to_datetime(reduced_data[['Year', 'Month', 'Day']])

reduced_data

C:\Users\tomi_\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tomi_\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\tomi_\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\tomi_\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tomi_\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,Month,Day,FlightNum,UniqueCarrier,Origin,Dest,Cancelled,ArrDelay,DepDelay,ArrTime,CRSArrTime,AirTime,Distance,AvgSpeed,Delayed,FullCarrier,Date,DoubleDelay
0,2008,1,3,335,WN,IAD,TPA,0,-14.0,8.0,2211.0,2225,116.0,810,418.965517,No,Southwest Airlines Co.,2008-01-03,No
1,2008,1,3,3231,WN,IAD,TPA,0,2.0,19.0,1002.0,1000,113.0,810,430.088496,Yes,Southwest Airlines Co.,2008-01-03,Yes
2,2008,1,3,448,WN,IND,BWI,0,14.0,8.0,804.0,750,76.0,515,406.578947,Yes,Southwest Airlines Co.,2008-01-03,Yes
3,2008,1,3,3920,WN,IND,BWI,0,34.0,34.0,1959.0,1925,77.0,515,401.298701,Yes,Southwest Airlines Co.,2008-01-03,Yes
4,2008,1,3,378,WN,IND,JAX,0,11.0,25.0,2121.0,2110,87.0,688,474.482759,Yes,Southwest Airlines Co.,2008-01-03,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,2008,12,13,1621,DL,MSP,ATL,0,25.0,30.0,1617.0,1552,120.0,906,453.000000,Yes,Delta Air Lines Inc.,2008-12-13,Yes
1936754,2008,12,13,1631,DL,RIC,ATL,0,75.0,57.0,904.0,749,78.0,481,370.000000,Yes,Delta Air Lines Inc.,2008-12-13,Yes
1936755,2008,12,13,1631,DL,ATL,IAH,0,99.0,80.0,1149.0,1010,122.0,689,338.852459,Yes,Delta Air Lines Inc.,2008-12-13,Yes
1936756,2008,12,13,1639,DL,IAD,ATL,0,9.0,11.0,1446.0,1437,89.0,533,359.325843,Yes,Delta Air Lines Inc.,2008-12-13,Yes
1936757,2008,12,13,1641,DL,SAT,ATL,0,-5.0,7.0,1413.0,1418,104.0,874,504.230769,No,Delta Air Lines Inc.,2008-12-13,No

### Top 10 carriers with higher amount of delayed flights

In [10]:

# Amount of unique carriers:
print('La cantidad de carriers es: ', len(pd.unique(reduced_data['FullCarrier'])))


# Top 10 carriers con mayor cantidad de vuelos demorados (todos los vuelos están demorados, así que es suficiente con contar la cantidad de vuelos)

full_carrier = reduced_data.groupby('FullCarrier').count()[['FlightNum']].sort_values(by='FlightNum', ascending=False)
full_carrier.head(10)

La cantidad de carriers es:  20

                                                    FlightNum
FullCarrier
Southwest Airlines Co.                                 377602
American Airlines Inc.                                 191865
American Eagle Airlines Inc.                           141920
United Air Lines Inc.                                  141426
Skywest Airlines Inc.                                  132433
Delta Air Lines Inc.                                   114238
Expressjet Airlines Inc.                               103663
Continental Air Lines Inc.                             100195
US Airways Inc. (Merged with America West 9/05....      98425
Atlantic Southeast Airlines                             81877

### Longest flight of each Carrier

In [11]:
#Vuelo más largo de cada aerolínea

longest_flight = reduced_data.groupby('FullCarrier').apply(lambda reduced_data: reduced_data.loc[reduced_data.Distance.idxmax()]).sort_values(by='Distance', ascending=False)
longest_flight

,Year,Month,Day,FlightNum,UniqueCarrier,Origin,Dest,Cancelled,ArrDelay,DepDelay,ArrTime,CRSArrTime,AirTime,Distance,AvgSpeed,Delayed,FullCarrier,Date,DoubleDelay
FullCarrier,,,,,,,,,,,,,,,,,,,
Continental Air Lines Inc.,2008,1,14,15,CO,EWR,HNL,0,-15.0,11.0,1905.0,1920,605.0,4962,492.099174,No,Continental Air Lines Inc.,2008-01-14,No
Delta Air Lines Inc.,2008,1,17,850,DL,HNL,ATL,0,193.0,203.0,1157.0,844,486.0,4502,555.802469,Yes,Delta Air Lines Inc.,2008-01-17,Yes
United Air Lines Inc.,2008,1,1,1,UA,ORD,HNL,0,19.0,20.0,1541.0,1522,517.0,4243,492.417795,Yes,United Air Lines Inc.,2008-01-01,Yes
American Airlines Inc.,2008,1,1,73,AA,ORD,HNL,0,39.0,37.0,1504.0,1425,538.0,4243,473.197026,Yes,American Airlines Inc.,2008-01-01,Yes
Northwest Airlines Inc.,2008,1,2,808,NW,HNL,MSP,0,57.0,42.0,658.0,601,438.0,3972,544.109589,Yes,Northwest Airlines Inc.,2008-01-02,Yes
US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.),2008,1,2,47,US,LIH,PHX,0,21.0,13.0,858.0,837,350.0,2979,510.685714,Yes,US Airways Inc. (Merged with America West 9/05...,2008-01-02,Yes
Hawaiian Airlines Inc.,2008,1,1,35,HA,PHX,HNL,0,0.0,12.0,1145.0,1145,359.0,2917,487.520891,No,Hawaiian Airlines Inc.,2008-01-01,No
Alaska Airlines Inc.,2008,1,1,131,AS,ORD,ANC,0,158.0,162.0,154.0,2316,384.0,2846,444.687500,No,Alaska Airlines Inc.,2008-01-01,Yes
JetBlue Airways,2008,1,1,637,B6,BOS,SFO,0,3.0,13.0,1443.0,1440,370.0,2704,438.486486,Yes,JetBlue Airways,2008-01-01,Yes
Aloha Airlines Inc.,2008,1,7,485,AQ,LIH,SAN,0,4.0,16.0,2342.0,2338,308.0,2677,521.493506,Yes,Aloha Airlines Inc.,2008-01-07,Yes
Frontier Airlines Inc.,2008,5,9,888,F9,DEN,ANC,0,20.0,8.0,2205.0,2145,322.0,2406,448.322981,Yes,Frontier Airlines Inc.,2008-05-09,Yes
Southwest Airlines Co.,2008,1,3,416,WN,LAS,PVD,0,33.0,30.0,23.0,2350,266.0,2363,533.007519,No,Southwest Airlines Co.,2008-01-03,Yes
AirTran Airways Corporation,2008,5,7,425,FL,SEA,BWI,0,-12.0,6.0,1826.0,1838,260.0,2335,538.846154,No,AirTran Airways Corporation,2008-05-07,No
Skywest Airlines Inc.,2008,3,21,5593,OO,ORF,BOI,0,180.0,160.0,1200.0,900,311.0,2144,413.633441,Yes,Skywest Airlines Inc.,2008-03-21,Yes
Pinnacle Airlines Inc.,2008,3,14,2094,9E,STX,MGM,0,NaN,40.0,NaN,1830,NaN,1680,NaN,No,Pinnacle Airlines Inc.,2008-03-14,No
Comair Inc.,2008,1,2,5202,OH,AUS,JFK,0,96.0,73.0,1729.0,1553,212.0,1522,430.754717,Yes,Comair Inc.,2008-01-02,Yes
Expressjet Airlines Inc.,2008,1,1,216,XE,SAT,SMF,0,81.0,106.0,1919.0,1758,205.0,1463,428.195122,Yes,Expressjet Airlines Inc.,2008-01-01,Yes
American Eagle Airlines Inc.,2008,1,2,3118,MQ,XNA,LAX,0,-2.0,8.0,1528.0,1530,183.0,1371,449.508197,No,American Eagle Airlines Inc.,2008-01-02,No
Mesa Airlines Inc.,2008,1,1,7445,YV,IAD,SAT,0,75.0,75.0,2327.0,2212,203.0,1362,402.561576,Yes,Mesa Airlines Inc.,2008-01-01,Yes
Atlantic Southeast Airlines,2008,1,2,4267,EV,BGR,ATL,0,64.0,88.0,1758.0,1654,150.0,1134,453.600000,Yes,Atlantic Southeast Airlines,2008-01-02,Yes

### Top 10 delayed Flights:

In [12]:
#Top vuelos más atrasados (Hs respecto a duración estimada) amount_delayed = ArrTime - CRSArrTime

amount_delayed_table = reduced_data[['FullCarrier', 'ArrDelay']]

amount_delayed_table.sort_values(by='ArrDelay', ascending=False).head(10)

                          FullCarrier  ArrDelay
322516        Northwest Airlines Inc.    2461.0
686014        Northwest Airlines Inc.    2453.0
839306        Northwest Airlines Inc.    1951.0
1009553  American Eagle Airlines Inc.    1707.0
1881639       Northwest Airlines Inc.    1655.0
1497823       Northwest Airlines Inc.    1583.0
685437        Northwest Airlines Inc.    1542.0
163379         American Airlines Inc.    1525.0
1214839       Northwest Airlines Inc.    1510.0
521096        Northwest Airlines Inc.    1490.0

### Final Table

In [21]:
# Nuevos cambios:

#     a) Creación de nuevo DF en base al anteriormente trabajado y reordenamiento de columnas (eliminación de columnas excedentes de Fecha)
#     b) Posicionamiento de "Flight number" como índice y ordenamiento de filas según Date
#     c) Redondeo a dos decimales de AvgSpeed.
#     d) Export del fichero como ".csv"

# a)

final_data = reduced_data[['Date', 'FlightNum', 'FullCarrier', 'Origin', 'Dest', 'Cancelled', 'Delayed', 'ArrDelay', 'DepDelay', 'DoubleDelay', 'ArrTime', 'CRSArrTime', 'AirTime', 'Distance', 'AvgSpeed']]

# b) 

final_data = final_data.set_index('FlightNum').sort_values(by='Date', ascending=True)


# c)

final_data['AvgSpeed'] = final_data['AvgSpeed'].round(2)

final_data

final_data.to_csv('final_data.csv')

,Date,FullCarrier,Origin,Dest,Cancelled,Delayed,ArrDelay,DepDelay,DoubleDelay,ArrTime,CRSArrTime,AirTime,Distance,AvgSpeed
FlightNum,,,,,,,,,,,,,,
1239,2008-01-01,United Air Lines Inc.,PDX,LAX,0,Yes,16.0,13.0,Yes,2111.0,2055,116.0,834,431.38
1659,2008-01-01,Continental Air Lines Inc.,IAH,DFW,0,Yes,2.0,6.0,Yes,1902.0,1900,43.0,224,312.56
5621,2008-01-01,Comair Inc.,ATL,BTR,0,Yes,42.0,52.0,Yes,1057.0,1015,78.0,449,345.38
5630,2008-01-01,Comair Inc.,CVG,CID,0,Yes,27.0,15.0,Yes,1512.0,1445,73.0,419,344.38
597,2008-01-01,American Airlines Inc.,ORD,SAT,0,Yes,43.0,72.0,Yes,2243.0,2200,130.0,1041,480.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,2008-12-31,JetBlue Airways,EWR,RSW,0,Yes,100.0,98.0,Yes,1257.0,1117,165.0,1068,388.36
529,2008-12-31,JetBlue Airways,EWR,MCO,0,Yes,7.0,22.0,Yes,2334.0,2327,133.0,938,423.16
527,2008-12-31,JetBlue Airways,EWR,MCO,0,Yes,6.0,7.0,Yes,2153.0,2147,132.0,938,426.36
515,2008-12-31,JetBlue Airways,EWR,FLL,0,Yes,34.0,43.0,Yes,56.0,22,144.0,1065,443.75
6519,2008-12-31,Skywest Airlines Inc.,LAX,SJC,0,Yes,NaN,79.0,No,2055.0,1731,NaN,308,NaN